@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .2s ease;
    line-height: 100%;
    scrollbar-width: none;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    --white: #fff;
    --dark: #333;
    --darkgrey: #555;
    --black: #010101;
    --transparent: transparent;
    --index: calc(1vw + 1vh);
}


